body {
    background-color: #6495ed;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

h1 {
    padding: 0 1rem 0 1rem;
    margin: 0;
}

ul {
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-item {
    display: inline;
}

.footer-column {
    float: left;
    width: 40%;
    padding: 1rem;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* mobile */
@media only screen and (max-width: 812px) {
    .column {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
}