/* fonts */

@font-face {
    font-family: 'IM Fell English';
    src: url('../fonts/imfellenglish-regular-webfont.woff2') format('woff2'),
         url('../fonts/imfellenglish-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM Fell English Italic';
    src: url('../fonts/imfellenglish-italic-webfont.woff2') format('woff2'),
         url('../fonts/imfellenglish-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Bold';
    src: url('../fonts/cormorantgaramond-bold-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Light';
    src: url('../fonts/cormorantgaramond-light-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Light Italic';
    src: url('../fonts/cormorantgaramond-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* vars */

:root {
    --paper-sheet-grey: #fffefa;
    --scots-navy: #161b1f;
    --soft-charcoal: #5D7383;
    --anti-royalty-blue: #6796C5;
    --soft-blue: #9AB8D6;
}

/* page title */

h1 {
    font-size: 2rem;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding: 1rem 0 3rem 0;
    margin: 0;
}

/* content */

.announcement-text {
    line-height: 4rem;
}

#email-on-text {
    display: block;
    font-family: 'Garamond Bold', serif;
    font-size: 1.5rem;
    text-transform: lowercase;
    letter-spacing: .3rem;
}

#email-on-text a {
    text-decoration: none;
    color: var(--scots-navy);
    padding: 0 0 .3rem .3rem;
}

#email-on-text a:hover,
#email-on-text a:focus-visible,
#email-on-text a:focus {
    background: var(--anti-royalty-blue);
    color: var(--paper-sheet-grey);
}

.error-text {
    font-family: 'Garamond Light Italic', serif;
    font-size: 1rem;
    line-height: 3rem;
}

.foreign-text {
    padding-bottom: 1rem;
}

/* about */

.first-word-but-smaller {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Garamond Light', serif;
}

.italic-text {
    font-family: 'Garamond Light Italic', serif;
}

h2 {
    font-size: 1.6rem;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding-bottom: 3rem;
    line-height: 3rem;
}

.topic {
    padding-top: 5rem;
}

.long-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: justify;
    margin: 0;
}

.long-text a {
    color: var(--anti-royalty-blue);
    font-family: 'Garamond Bold', serif;
}

/* contact */
#contact-info {
    margin: 0;
}

/* podcast */
#podcast-cover {
    width: 300px;
    padding-bottom: 3rem;
}

.link-hub a {
    text-transform: lowercase;
    font-family: 'IM Fell English', serif;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.link-hub-web {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.link-hub-mobile {
    display: none;
}

/* mobile */
@media only screen and (max-width: 812px) {
    .error-divider {
        width: 70%;
    }

    #email-on-text {
        font-size: 1rem;
    }

    /* podcast */

    #podcast-cover {
        width: 100%;
    }

    .link-hub-web {
        display: none;
    }

    .link-hub-mobile {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    .link-hub-mobile a {
        letter-spacing: .3rem;
    }
}
