/* fonts */

@font-face {
    font-family: 'IM Fell English';
    src: url('../fonts/imfellenglish-regular-webfont.woff2') format('woff2'),
         url('../fonts/imfellenglish-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM Fell English Italic';
    src: url('../fonts/imfellenglish-italic-webfont.woff2') format('woff2'),
         url('../fonts/imfellenglish-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Bold';
    src: url('../fonts/cormorantgaramond-bold-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Light';
    src: url('../fonts/cormorantgaramond-light-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Light Italic';
    src: url('../fonts/cormorantgaramond-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/cormorantgaramond-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* vars */

:root {
    --paper-sheet-grey: #fffefa;
    --scots-navy: #161b1f;
    --soft-charcoal: #5D7383;
    --anti-royalty-blue: #6796C5;
    --soft-blue: #9AB8D6;
}

/* pseudo-elements */

a:focus {
    outline-color: var(--anti-royalty-blue);
}

::selection {
    background: var(--anti-royalty-blue);
    color: var(--paper-sheet-grey);
}

/* body */

body {
    margin: 0;
    padding: 0;
    background-color: var(--paper-sheet-grey);
    /* background-color: #fff; */
    color: var(--scots-navy);
    font-family: 'Garamond Light', serif;
    background-image: url('../images/bg-groovepaper.png');
}

/* header */

header {
    padding: 1rem 15% 3rem 15%;
    position: relative;
}

/* only visible on big screens */
#header-idioms {
    position: relative;
    text-align: right;
    padding: 1rem 0;
    max-width: 90%;
    font-size: 1rem;
    color: var(--scots-navy);
    opacity: 60%;
}

#header-idioms a {
    color: var(--scots-navy);
    font-family: 'IM Fell DW Pica', serif;
    text-decoration: none;
    line-height: 2.2rem;
    padding: .2rem .2rem 0 .2rem;
}

#header-idioms a:hover,
#header-idioms a:focus-visible,
#header-idioms a:focus { 
    background: var(--scots-navy);
    color: var(--paper-sheet-grey)
    
}

.idiom-divider {
    display: inline;
    padding: 0 .2rem;
}

/* logo */

.logo {
    text-align: center;
    position: relative;
    z-index: 1;
}

.contrast-with-logo:before, .contrast-with-logo:after {
    position: absolute;
    width: 10rem;
    height: 5.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: "";
    top: 50%;
    left: 0; 
    right: 0;
    z-index: -1;
    transform: translateY(-35%);
    opacity: 0;
}

.logo-image {
    width: 10rem;
    max-width: 385px;
    height: auto;
}

#palavra-logo:hover ~ .contrast-with-logo:after {
    opacity: 100%;
    background-color: var(--soft-blue);
}

#palavra-logo:focus-visible ~ .contrast-with-logo:after {
    opacity: 100%;
    background-color: var(--soft-blue);
}


#palavra-logo:focus ~ .contrast-with-logo:after {
    opacity: 100%;
    background-color: var(--soft-blue);
}

/* menu */

ul {
    margin: 0;
}

.menu ul {
    padding: 3rem 0;
    list-style-type: none;
}

.menu-item {
    padding: 0 5rem;
    text-align: center;
}

.menu-item a {
    color: var(--scots-navy);
    text-decoration: none;
    font-family: 'IM Fell English', serif;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: .3rem;
    padding: .2rem .2rem .2rem .5rem;
    /* padding-left: .3rem; */
}

.menu-item a:hover,
.menu-item a:focus-visible,
.menu-item a:focus {
    background-color: var(--anti-royalty-blue);
    color: var(--paper-sheet-grey);
}

.header-divider {
    width: 2rem;
}

.divider {
    border-width: 2px;
    background: var(--scots-navy);
    text-align: center;
    color: var(--scots-navy);
    border-style: solid;
}

/* content */

.description {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    text-align: center;
    width: 45%;
    max-width: 50rem;
}

.first-word {
    font-size: 1.5rem;
    font-family: 'Garamond Bold', serif;
    text-transform: uppercase;
    display: inline;
}

.description .plain-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: inline;
}

.announcement-text {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-right: -0.5rem;
    line-height: 3rem;
}

.accent-text {
    font-size: 1.8rem;
    font-family: 'IM Fell English Italic', serif;
    text-transform: capitalize;
    line-height: 3rem;
}

.link-in-text {
    text-decoration: none;
    color: var(--scots-navy)
}

.link-in-text:hover, 
.link-in-text:focus-visible,
.link-in-text:focus {
    color: var(--anti-royalty-blue);
    text-decoration-color: var(--anti-royalty-blue);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.content-divider {
    width: 5rem;
    border-width: 1px;
    text-align: center;
    color: var(--scots-navy);
    background: var(--scots-navy);
    opacity: 30%;
    border-style: solid;
    margin: 3rem auto 3rem auto;
}

.wavy-divider {
    margin: 3rem auto 4rem auto;
    word-spacing: 5rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--anti-royalty-blue);
}

/* footer */

footer {
    background-color: var(--scots-navy);
    color: var(--paper-sheet-grey);
    padding: 3rem 15%;
    bottom: 0;
    font-size: 1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0 10rem 0;
}

footer ul a {
    color: var(--paper-sheet-grey);
    font-family: 'Garamond Light', serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.2em;
}

footer a:hover,
footer a:focus-visible,
footer a:focus {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.footer-column {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-column ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}

.email {
    opacity: 100%;
    text-transform: lowercase;
    letter-spacing: 0;
}

footer p {
    margin: 0;
}

#footer-paragraph {
    opacity: 80%;
}

#credits {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: .5rem;
    opacity: 80%;
}

.conjunction {
    font-size: 0.8em;
    font-family: 'Garamond Bold', serif;
    line-height: 2rem;
    text-transform: uppercase;
}

/* only visible on mobile */
.footer-idioms {
    display: none;
}

.footer-divider {
    color: var(--paper-sheet-grey);
    background: var(--paper-sheet-grey);
    opacity: 80%;
    width: 2rem;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.footer-year {
    opacity: 80%;
    text-align: center;
    margin-top: 0;
}

/* mobile */

@media only screen and (max-width: 812px) {
    
    /* header */

    #header-idioms {
        display: none;
    }

    .logo {
        padding-top: 2rem;
    }

    .logo-image {
        width: 5rem;
        height: auto;
    }

    .contrast-with-logo {
        display: none;
    }

    /* menu */

    .menu-item {
        padding-left: 0;
        padding-right: 0;
    }

    /* description */

    .description {
        width: 70%;
        max-width: 80%;
    }

    .announcement-text {
        letter-spacing: .3rem;
    }

    .accent-text {
        font-size: 1.1rem;
    }

    /* footer */

    .footer-content {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 0 2rem 0;
    }

    .footer-column {
        padding-bottom: 3rem;
    }

    .footer-column ul {
        text-align: center;
    }

    .footer-idioms {
        display: block;
    }

    .footer-idioms li:first-child {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .5rem 0;
    }

    #footer-language-english, #footer-language-portuguese, #footer-language-scots {
        font-family: 'Garamond Light Italic', serif;
        text-transform: lowercase;
    } 
}